In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv("Student-University.csv", header = None)

In [24]:
df.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [25]:
x = df.iloc[:,0:2]
y = list(df[2])
print(x.head())

           0          1
0  34.623660  78.024693
1  30.286711  43.894998
2  35.847409  72.902198
3  60.182599  86.308552
4  79.032736  75.344376

In [26]:
print(y)

[0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1]

In [27]:
x[0] = (x[0]-x[0].min())/(x[0].max()-x[0].min())
x[1] = (x[1]-x[1].min())/(x[1].max()-x[1].min())

In [28]:
print(x.head())

          0         1
0  0.065428  0.694655
1  0.003266  0.194705
2  0.082968  0.619618
3  0.431764  0.816001
4  0.701943  0.655392

In [29]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [30]:
x1 = list(xtrain[0])
x2 = list(xtrain[1])
x1test = list(xtest[0])
x2test = list(xtest[1] )

In [47]:
b = [0,0,0]
alpha = 0.001
e = 2.71828

def grad_desc(b):
    
    iter = 100
    while(iter>0):

        for i in range(len(xtrain)):
            Y = (b[0] + b[1] * x1[i] + b[2] * x2[i])
            pred = (1 / (1 + e**(-1*Y)))

            b[0] = b[0] + alpha * (ytrain[i]-pred) * pred * (1-pred) * 1
            b[1] = b[1] + alpha * (ytrain[i]-pred) * pred * (1-pred) * x1[i]
            b[2] = b[2] + alpha * (ytrain[i]-pred) * pred * (1-pred) * x2[i]
        iter-=1
    
    return b

In [48]:
for i in range(5):
    b = grad_desc(b)
print(b)

[-0.10534152240831524, 0.6545574137311193, 0.54089902217481]

In [49]:
final_pred = []
for i in range(len(xtest)):
    Y1 = (b[0] + b[1] * x1test[i] + b[2] * x2test[i])
    y_pred = (1 / (1 + e**(-1*Y1)))
    #print(final_pred[i])
    
    if(y_pred>0.5):
        final_pred.append(1)
    else:
        final_pred.append(0)

In [50]:
import warnings
warnings.filterwarnings('ignore')


from sklearn.metrics import classification_report
print(classification_report(ytest,final_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         8
           1       0.60      1.00      0.75        12

    accuracy                           0.60        20
   macro avg       0.30      0.50      0.37        20
weighted avg       0.36      0.60      0.45        20